* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  color: white;
}

main p {
  padding-top: 4em;
  font-size: 25px;
  text-shadow: 2px 2px #000000;
}

body {
  margin: auto;
  line-height: 1.5;
  overflow-x: hidden;
}

.title-heading {
  position: absolute;
  font-size: 7rem;
  top: 15%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #3048cf;
  text-shadow: 1px 1px 1px #ffffff, 1px 2px 1px #ffffff, 1px 3px 1px #000000, 1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000, 1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000, 1px 5px 1px #ffffff, 1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.column {
  margin-left: 25px;
  margin-right: 25px;
}

.v-header {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #9b9b9b;
  z-index: 1;
  opacity: 0.35;
}

.grid-area1 {
  grid-area: header;
  z-index: 2;
}

.grid-area3 {
  grid-area: main;
  z-index: 2;
}

.grid-area4 {
  grid-area: cards;
  z-index: 2;
}

.grid-area5 {
  grid-area: footer;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid: "header header header header" "main main main main" "cards cards cards cards" "footer footer footer footer";
  grid-gap: 110px;
}

.grid-container > div {
  text-align: center;
  padding: 5px 0;
}

h1 {
  font-size: 70px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 1rem;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav-left {
  margin: 0 0 0 30px;
}

.topnav-right {
  margin: 0 20px;
}

.topnav .topnav-left a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  color: whitesmoke;
}

.topnav .topnav-right a {
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  color: whitesmoke;
}

.cards img {
  margin: auto;
  height: 175px;
  max-width: 100%;
}

.cards div {
  border: 2px solid;
  margin: 0 40px 0 40px;
  background: white;
  -webkit-box-shadow: 5px 5px 5px;
          box-shadow: 5px 5px 5px;
  border-radius: 80px 20px;
}

.cards h1 {
  background-color: #3048cf;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 77px;
  border-top: 1px solid;
}

.cards div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  padding: 40px 0 0 20px;
  height: 10vh;
  background-color: black;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=naf.css.map */