.grid-area1 {
  grid-area: header;
}
.grid-area2 {
  grid-area: side-menu;
}
.grid-area3 {
  grid-area: main;
}
.grid-area4 {
  grid-area: cards;
}
.grid-area5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid:
    "header header header header"
    "side-menu main main main"
    "side-menu main main main"
    "side-menu cards cards cards"
    "footer footer footer footer";
  grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  color: whitesmoke;
}

.cards img {
  margin: 0 auto;
  height: 150px;
}

.footer {
  padding: 20px;
  background-color: black;
  color: white;
}
